.countDownWrapper {
  position: relative;
  text-align: center;
  .action {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 72px;
    display: flex;
    justify-content: center;
    svg {
      cursor: pointer;
      height: 14px;
      width: 14px;
    }
  }
}

.countDown {
  max-width: 100%;
  width: 240px;
  height: 240px;
  margin: auto;
  display: block;
}
