/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  background: transparent;
}

body {
  position: relative;
  background: transparent;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f9f9f9;
}
